<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Pesquisar medicos</h5>

    <form (ngSubmit)="getAll()">
      <div class="form-group">
        <label class="control-label">Nome</label>
        <input
          type="text"
          class="form-control"
          name="nome"
          [(ngModel)]="nome"
        />
      </div>
      <button type="submit" class="btn btn-outline-primary">
        Pesquisar
      </button>
      <button
        type="button"
        class="btn btn-outline-primary ml-1"
        routerLink="/medicos/novo"
      >
        Novo
      </button>
    </form>
  </div>
</div>

<div class="card w-100  mt-2">
  <div class="card-body">
    <h5 class="card-title">Médicos encontrados</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
          <th scope="col">RG</th>
          <th scope="col">E-MAIL</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medico of medicos">
          <th scope="row">{{ medico.Id }}</th>
          <td>{{ medico.Nome }}</td>
          <td>{{ medico.Cpf }}</td>
          <td>{{ medico.Rg }}</td>
          <td>{{ medico.Email }}</td>
          <td>
            <a [routerLink]="['/medicos', medico.Id]">
              <i class="material-icons">
                edit
              </i>
            </a>

            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="openConfirmDelete(template, medico.Id)"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex flex-row-reverse p-2">
      <nav aria-label="...">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{ disabled: page == 1 }"
            (click)="page = page - 1; getAll()"
          >
            <a class="page-link" href="javascript:void(0)" tabindex="-1"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            [ngClass]="{ active: numeroPage == page }"
            *ngFor="let numeroPage of pages"
          >
            <a
              class="page-link"
              (click)="page = numeroPage; getAll()"
              href="javascript:void(0)"
              >{{ numeroPage }}</a
            >
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: page == pages.length }"
            (click)="page = page + 1; getAll()"
          >
            <a class="page-link" href="javascript:void(0)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir?</p>
    <button type="button" class="btn btn-default" (click)="delete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">
      Não
    </button>
  </div>
</ng-template>
